.miBarra{
    display:flex;
   justify-content: center;
    background-color: rgb(255, 140, 127);
padding:15px;
;

}
.miInput , .miBoton{
    width: 20%;
    height:30px;
    background-color: rgb(229, 192, 214);
    text-transform: uppercase;

}
 .miInput::placeholder{
     color:black;
     font-size:12px
 }   

.miInput:hover{
    background-color:white;
}
.miBoton{
    background-color: aliceblue;
    color:green;
    font-size: 15px;
    text-align: center;
    text-decoration-line: underline
}
.miBoton:hover{
    background-color: red;
    color:black
}
